@import '../variables.css';

.placeholdercontainer {
  padding-bottom: 20px;
}

input.placeholder {
  width: 100%;
  font-size: 30px;
  background: transparent;
}

.editorcontainer {
  padding: 10px 15px;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}
